.bordered-container {
  border: 2px solid $dark-one;
  border-radius: 18px;
  overflow: hidden;
  overflow: auto;
}
.primary-btn {
  height: 30px;
  border-radius: 22px;
  font-size: 14px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &--green {
    background-color: $green;
    color: $white;
  }
}

.bottom-bar {
  width: 80%;
  height: 3px;
  border-radius: 3px;
  background-color: $gray-one;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.info-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  fill: $white;
  opacity: 0.4;
  z-index: 112;
  cursor: pointer;
}
.widget-layout {
  position: relative;
}

.repository-card {
  width: 100%;
  height: auto;
  border: 1px solid $gray-one;
  border-radius: 8px;
  padding: 20px;
  margin: 5px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.125);
  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $dark-one;
  }
  &__description {
    font-size: 12px;
    font-weight: 400;
    color: $gray-two;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__info {
    margin-top: 8px;
    .info-item {
      $height: 12px;
      margin-right: 10px;
      height: $height;
      display: flex;
      justify-content: center;
      align-items: center;
      &__circle {
        width: $height;
        height: 100%;
        border-radius: 50%;
        background-color: $green;
        margin-right: 5px;
      }
      &__icon {
        width: $height + 4px;
        height: $height + 4px;
        margin-right: 5px;
        &--star {
          svg {
            fill: $yellow;
          }
        }
      }
      &__text {
        font-size: 11px;
        color: $gray-one;
        font-weight: 400;
      }
    }
  }
}
.repository-topic {
  display: inline-block;
  list-style: none;
  background-color: $blue-two;
  color: $blue-one;
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 3px;
}

.widget-header {
  width: 100%;
  height: 60px;
  background-color: $dark-one;
  padding: 0 12px;
  &__info {
    .user-avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid $green-three;
    }
    .user-info {
      margin-left: 10px;
      &__username {
        font-size: 15px;
        color: $gray-two;
        strong {
          color: $dark-one;
        }
      }
      &__content-title {
        font-size: 11px;
        color: $gray-three;
        font-weight: 400;
        margin-top: 3px;
      }
    }
  }
}
