$yellow: #f1e05a;
$red: #e34c25;
$purple: #25272c;
$green: #3cb54a;
$dark-one: #25272c;
$dark-three: #3b3d41;
$white: white;
$black: black;
$gray-one: #ddd;
$gray-two: rgb(179, 179, 179);
$gray-three: rgb(129, 129, 129);
