* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal; }

.user-card {
  width: 300px;
  height: 330px;
  background-color: white; }
  .user-card__user-info {
    width: 100%;
    height: 240px;
    background-color: #25272c;
    position: relative; }
    .user-card__user-info .user {
      width: 100%; }
      .user-card__user-info .user__avatar {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        border: 2px solid #f1e05a;
        margin-bottom: 20px; }
      .user-card__user-info .user__name {
        color: white;
        font-weight: 500;
        font-size: 18px; }
      .user-card__user-info .user__username {
        margin-top: 2px;
        margin-bottom: 6px; }
      .user-card__user-info .user__bio, .user-card__user-info .user__username {
        text-align: center;
        color: #818181;
        font-size: 12px;
        max-width: 90%; }
    .user-card__user-info .primary-btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%); }
  .user-card__work-info {
    width: 100%;
    margin-top: 26px; }
    .user-card__work-info .info-card {
      width: calc(25% - 8px);
      text-align: center; }
      .user-card__work-info .info-card p {
        font-size: 22px;
        color: #25272c;
        font-weight: 700; }
      .user-card__work-info .info-card span {
        font-weight: 400;
        color: #b3b3b3;
        font-size: 12px; }

.repository-list {
  padding: 10px 12px;
  width: 340px;
  height: 330px;
  background-color: white;
  position: relative; }

.bordered-container {
  border: 2px solid #25272c;
  border-radius: 18px;
  overflow: hidden;
  overflow: auto; }

.primary-btn {
  height: 30px;
  border-radius: 22px;
  font-size: 14px;
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none; }
  .primary-btn--green {
    background-color: #3cb54a;
    color: white; }

.bottom-bar {
  width: 80%;
  height: 3px;
  border-radius: 3px;
  background-color: #ddd;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%); }

.info-icon {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  fill: white;
  opacity: 0.4;
  z-index: 112;
  cursor: pointer; }

.widget-layout {
  position: relative; }

.repository-card {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 5px 0; }
  .repository-card__title {
    font-size: 18px;
    font-weight: bold;
    color: #25272c; }
  .repository-card__description {
    font-size: 12px;
    font-weight: 400;
    color: #b3b3b3;
    margin-top: 5px;
    margin-bottom: 5px; }
  .repository-card__info {
    margin-top: 8px; }
    .repository-card__info .info-item {
      margin-right: 10px;
      height: 12px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .repository-card__info .info-item__circle {
        width: 12px;
        height: 100%;
        border-radius: 50%;
        background-color: #3cb54a;
        margin-right: 5px; }
      .repository-card__info .info-item__icon {
        width: 16px;
        height: 16px;
        margin-right: 5px; }
        .repository-card__info .info-item__icon--star svg {
          fill: #f1e05a; }
      .repository-card__info .info-item__text {
        font-size: 11px;
        color: #ddd;
        font-weight: 400; }

.repository-topic {
  display: inline-block;
  list-style: none;
  background-color: #ddeeff;
  color: #5596e5;
  font-size: 10px;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  margin-bottom: 2px;
  margin-right: 3px; }

.widget-header {
  width: 100%;
  height: 48px;
  justify-content: space-between;
  background-color: #25272c; }
  .widget-header__title {
    font-size: 18px;
    color: #818181; }
    .widget-header__title strong {
      color: #25272c; }
