<section>
  <div class="user-card flex--column column--middle--center">
    <div class="user-card__top flex--column column--middle--center">
      <img src="https://avatars.githubusercontent.com/u/60369989?v=4" alt="" />
      <span>{{userData.name}}</span>

      {{userData.company}}
    </div>
  </div>
</section>

<style>
  .user-card { width: 300px; height: 320px; background-color:
  white;border-radius: 10px; overflow: hidden; } .user-card__top { width: 100%;
  } .user-card__top > img { width: 100%; height: 240px; object-fit: cover; }
</style>