<section>
  <div class="user-card bordered-container flex--column column--top--center">
    <div class="user-card__top flex--column column--middle--center">
      <div class="user flex--column column--middle--center">
        <img
          class="user__avatar"
          src="https://avatars.githubusercontent.com/u/60369989?v=4"
          alt=""
        />
        <span class="user__name">{{userData.name}}</span>
        <span class="user__username">@{{userData.login}}</span>
        <span class="user__bio">{{userData.bio}}</span>
      </div>
      <a
        class="primary-btn primary-btn--green"
        href="{{userData.html_url}}"
      >Folow</a>
    </div>
  </div>
</section>