<section>
  <div
    class="user-card flex--column column--middle--center"
    default-content-layout
  >
    <div class="user-card__top flex--column column--middle--center">
      <img src="https://avatars.githubusercontent.com/u/60369989?v=4" alt="" />
      <span>{{userData.name}}</span>
      {{userData.company}}
    </div>
  </div>
</section>