<html lang="en">
  <head>
    <link href="/src/views/public/styles/vendor/flex-classes.css" />
    <link href="/src/views/public/styles/css/main.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>