<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../../../static/styles/vendor/flex-classes.css"
    />
    <link rel="stylesheet" href="../../../static/styles/css/main.css" />
  </head>
  <!--- User Card-->
  <body class="flex--row row--middle--center">
    {{>widget-layout}}{{widget-layout}}
  </body>
</html>