<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../../../static/styles/vendor/flex-classes.css"
    />
    <link rel="stylesheet" href="../../../static/styles/css/main.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>